---
replicaCount: 3
recreatePods: true

emqxConfig:
  EMQX_ALLOW_ANONYMOUS: "true"
  EMQX_LOADED_MODULES: "emqx_mod_presence,emqx_mod_acl_internal,emqx_mod_topic_metrics"
  EMQX_LOADED_PLUGINS: "emqx_management,emqx_recon,emqx_retainer,emqx_dashboard,emqx_rule_engine,emqx_prometheus"

emqxAclConfig: |
  {allow, {user, "dashboard"}, subscribe, ["$SYS/#"]}.
  {allow, {ipaddr, "127.0.0.1"}, pubsub, ["$SYS/#", "#"]}.
  {allow, all, subscribe, ["$SYS/#", {eq, "#"}]}.
  {allow, all}.

# FIXME: re-enable after prometheus is installed
metrics:
  enable: false

ingress:
  dashboard:
    enabled: true
    ingressClassName: tailscale
    path: /
    hosts:
      - &host nl-emqx
    tls:
      - hosts:
          - *host
