---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: &name helper-rsync
  namespace: auth
spec:
  selector:
    matchLabels:
      app: *name
  replicas: 1
  template:
    metadata:
      labels:
        app: *name
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: In
                    values:
                      - nl-k8s-02
      containers:
        - name: rsync
          image: alpine:3.10.2
          args: ["ash", "-c", "sleep 3600"]
          volumeMounts:
            - name: data
              mountPath: /data
            - name: backup
              mountPath: /backup
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: vaultwarden-v2
        - name: backup
          hostPath:
            type: Directory
            path: /root/manual-backup-vaultwarden-20251212
