---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.5.0/charts/other/app-template/values.schema.json
defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch

controllers:
  main:
    type: deployment
    strategy: RollingUpdate
    replicas: 1
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      main:
        image:
          repository: ghcr.io/ar3s3ru/homelabs/authelia-proxy-ff683c8cf4563e1bccab283dec286712
          tag: latest@sha256:236265ba227c69b9c8bbe856f81f0fc8b8a34286a9a7f2b6ff6195f3f1231c39
        env:
          PROXY_LISTEN_ADDRESS: 0.0.0.0:10080
          PROXY_UPSTREAM_SERVER_ADDRESS: http://authelia.auth.svc.cluster.local
        probes:
          liveness: { enabled: false }
          readiness: { enabled: false }
          startup: { enabled: true }

service:
  main:
    controller: main
    type: ClusterIP
    ports:
      http:
        port: 10080

ingress:
  main:
    enabled: true
    className: nginx
    annotations:
      cert-manager.io/cluster-issuer: cianfr.one-acme
      external-dns.alpha.kubernetes.io/hostname: &host idpx.cianfr.one
      external-dns.alpha.kubernetes.io/target: in.nl.cianfr.one
    hosts:
      - host: *host
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
              port: http
    tls:
      - hosts:
          - *host
        secretName: authelia-proxy-cianfr.one-tls
