---
# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: &namespace telemetry

helmCharts:
  - name: victoria-metrics-k8s-stack
    repo: https://victoriametrics.github.io/helm-charts/
    # To update: https://github.com/VictoriaMetrics/helm-charts/releases?q=victoria-metrics-k8s-stack&expanded=true
    # https://docs.victoriametrics.com/helm/victoriametrics-k8s-stack/#upgrade-guide
    version: 0.69.0
    releaseName: victoriametrics
    namespace: *namespace
    includeCRDs: true
    valuesFile: values.yaml
  # Add the prometheys CRDs so that vm can scrape servicemonitors, etc.
  - name: prometheus-operator-crds
    repo: https://prometheus-community.github.io/helm-charts
    version: 26.0.0
    releaseName: prometheus-crds
    namespace: *namespace
    includeCRDs: true
