---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.5.0/charts/other/app-template/values.schema.json
controllers:
  main:
    type: deployment
    replicas: 1
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      main:
        image:
          repository: ghcr.io/music-assistant/server
          tag: "2.7.3"
        env:
          LOG_LEVEL: info
        probes:
          # FIXME(ar3s3ru): find a way to enable these?
          liveness: { enabled: false }
          readiness: { enabled: false }
          startup: { enabled: false }

service:
  main:
    type: LoadBalancer
    controller: main
    annotations:
      # NOTE: this address has also been set on the UI configuration,
      # in both webserver and streamserver settings.
      metallb.io/loadBalancerIPs: 10.0.3.4
    ports:
      http:
        port: 8095 # Source: https://github.com/music-assistant/server/blob/dev/Dockerfile#L71
      streaming:
        port: 8097

ingress:
  tailscale:
    enabled: true
    className: tailscale
    hosts:
      - host: &host nl-mass
        paths:
          - path: /
            pathType: Prefix
            service: { identifier: main, port: http }
    tls:
      - hosts:
          - *host

persistence:
  tmp:
    enabled: true
    type: emptyDir
    globalMounts: [{ path: /tmp }]
  data:
    enabled: true
    type: persistentVolumeClaim
    existingClaim: music-assistant-data-v2
    globalMounts: [{ path: /data }]
