---
csiDriver:
  name: "org.democratic-csi.truenas-api-nfs"

controller:
  enabled: true
  strategy: deployment
  driver:
    image:
      tag: next
  externalSnapshotter:
    enabled: false # Snapshots disabled

node:
  hostPID: true
  driver:
    image:
      tag: next

storageClasses:
  - name: truenas-nfs
    defaultClass: false
    reclaimPolicy: Retain
    volumeBindingMode: Immediate
    allowVolumeExpansion: true
    parameters:
      fsType: nfs
    mountOptions:
      - nfsvers=4.1
      - noatime
      - nodiratime
    secrets:
      provisioner-secret:
      controller-publish-secret:
      node-stage-secret:
      node-publish-secret:
      controller-expand-secret:

# Snapshot classes (disabled)
volumeSnapshotClasses: []

driver:
  config:
    driver: freenas-api-nfs
    instance_id:
    httpConnection:
      protocol: https
      host: truenas.lan
      port: 443
      allowInsecure: true # self-signed certs
    zfs:
      datasetParentName: pool0/kube/vol
      detachedSnapshotsDatasetParentName: pool0/kube/snap
      datasetEnableQuotas: true
      datasetEnableReservation: false
      datasetPermissionsMode: "0777"
      datasetPermissionsUser: 0
      datasetPermissionsGroup: 0
    nfs:
      shareHost: truenas.lan
      shareAlldirs: false
      # shareAllowedHosts: []
      shareAllowedNetworks:
        - 10.10.0.0/16 # nl-k8s-* hosts
        - 10.11.0.0/16 # nl-pve-* hosts
        - 10.42.0.0/16 # k3s pods subnet
        - 10.43.0.0/16 # k3s svc subnet
      shareMaprootUser: root
      shareMaprootGroup: root
      shareMapallUser: ""
      shareMapallGroup: ""
