# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-4.4.0/charts/library/common/values.schema.json
---
defaultPodOptions:
  securityContext:
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch
    runAsGroup: 1000
    runAsUser: 1000
  # Prevent loopback NFS deadlock - don't run on NFS server node
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: kubernetes.io/hostname
                operator: NotIn
                values: ["gladius"]

service:
  main:
    type: LoadBalancer
    controller: main
    annotations:
      metallb.io/loadBalancerIPs: 192.168.2.203
    ports:
      http:
        port: 8080

ingress:
  tailscale:
    className: tailscale
    enabled: true
    hosts:
      - host: nl-sabnzbd
        paths:
          - path: "/"
            pathType: Prefix
            service:
              identifier: main
              port: http
    tls:
      - hosts: [nl-sabnzbd]

controllers:
  main:
    type: deployment
    replicas: 1
    strategy: Recreate
    annotations:
      "reloader.stakater.com/auto": "true"
    containers:
      main:
        env:
          PGID: 1000
          PGUID: 1000
          TZ: Europe/Amsterdam
        image:
          repository: ghcr.io/linuxserver/sabnzbd
          tag: 4.5.5
        probes:
          liveness: { enabled: false }
          readiness: { enabled: false }
          startup: { enabled: true }

persistence:
  config:
    enabled: true
    existingClaim: sabnzbd-config-v2
    globalMounts: [{ path: /config }]
    type: persistentVolumeClaim
  downloads:
    enabled: true
    existingClaim: sabnzbd-downloads
    globalMounts: [{ path: /downloads }]
    type: persistentVolumeClaim
  media:
    enabled: true
    existingClaim: media-data-v3
    globalMounts: [{ path: /data }]
    type: persistentVolumeClaim
