---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.4.0/charts/other/app-template/values.schema.json
defaultPodOptions:
  securityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: "OnRootMismatch"
  resources:
    requests:
      memory: 256Mi
      cpu: 100m
    limits:
      memory: 512Mi
      cpu: 200m

service:
  main:
    type: ClusterIP
    controller: main
    ports:
      http:
        port: 9696

ingress:
  tailscale:
    className: tailscale
    enabled: true
    hosts:
      - host: nl-prowlarr
        paths:
          - path: "/"
            pathType: Prefix
            service:
              identifier: main
              port: http
    tls:
      - hosts: [nl-prowlarr]

controllers:
  main:
    type: deployment
    replicas: 1
    strategy: Recreate
    annotations:
      "reloader.stakater.com/auto": "true"
    containers:
      main:
        env:
          PGID: 1000
          PGUID: 1000
          TZ: Europe/Amsterdam
        image:
          repository: ghcr.io/linuxserver/prowlarr
          tag: 2.1.5
        probes:
          liveness: { enabled: false }
          readiness: { enabled: false }
          startup: { enabled: true }

persistence:
  config:
    enabled: true
    existingClaim: prowlarr-config-v2
    globalMounts: [{ path: /config }]
    type: persistentVolumeClaim
  media:
    enabled: true
    existingClaim: media-data-v3
    globalMounts: [{ path: /data }]
    type: persistentVolumeClaim
