---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/values.schema.json
defaultPodOptions:
  securityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: "OnRootMismatch"

service:
  main:
    type: ClusterIP
    controller: main
    ports:
      http:
        port: 8081

ingress:
  tailscale:
    className: tailscale
    enabled: true
    hosts:
      - host: &host nl-metube.tail2ff90.ts.net
        paths:
          - path: "/"
            pathType: Prefix
            service:
              identifier: main
              port: http
    tls:
      - hosts: [*host]

controllers:
  main:
    type: deployment
    replicas: 1
    strategy: Recreate
    annotations:
      "reloader.stakater.com/auto": "true"
    containers:
      main:
        env:
          PGID: 1000
          PGUID: 1000
          TZ: Europe/Amsterdam
          DOWNLOAD_DIR: &download-dir /data/media/youtube
          TEMP_DIR: *download-dir
          DOWNLOAD_MODE: limited
          MAX_CONCURRENT_DOWNLOADS: 5 # only used with limited, default to 3
          STATE_DIR: /config
          YTDL_OPTIONS: '{"http_headers":{"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:123.0) Gecko/20100101 Firefox/123.0"},"cookiefile":"/config/cookies.txt"}'
        image:
          repository: ghcr.io/alexta69/metube
          tag: "2026.02.08"
        probes:
          liveness: { enabled: false }
          readiness: { enabled: false }
          startup: { enabled: true }

persistence:
  config:
    enabled: true
    existingClaim: metube-config
    globalMounts: [{ path: /config }]
    type: persistentVolumeClaim
  media:
    enabled: true
    existingClaim: media-data-v4
    globalMounts: [{ path: /data }]
    type: persistentVolumeClaim
