# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-4.4.0/charts/library/common/values.schema.json
---
defaultPodOptions:
  securityContext:
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch
    runAsGroup: 1000
    runAsUser: 1000

service:
  main:
    type: LoadBalancer
    controller: main
    annotations:
      metallb.io/loadBalancerIPs: 10.20.0.5
    ports:
      http:
        port: &port 8080
      slsk:
        port: 50429

ingress:
  tailscale:
    className: tailscale
    enabled: true
    hosts:
      - host: &host nl-slskd.tail2ff90.ts.net
        paths:
          - path: "/"
            pathType: Prefix
            service:
              identifier: main
              port: http
    tls:
      - hosts: [*host]

configMaps:
  env:
    data:
      DOTNET_BUNDLE_EXTRACT_BASE_DIR: /tmp/.net
      TZ: Europe/Amsterdam
      SLSKD_APP_DIR: /config
      SLSKD_HTTP_PORT: "8080"
      SLSKD_NO_AUTH: "true"
      SLSKD_NO_HTTPS: "true"
      SLSKD_NO_VERSION_CHECK: "true"
      SLSKD_SLSK_LISTEN_PORT: "50429"
  config:
    data:
      slskd.yml: |-
        directories:
          downloads: /data/soulseek/complete
          incomplete: /data/soulseek/incomplete
        permissions:
          file:
            mode: 750
        shares:
          directories:
            - /data/soulseek/shared
          filters:
            - \.ini$
            - Thumbs.db$
            - \.DS_Store$

controllers:
  main:
    type: deployment
    replicas: 1
    strategy: Recreate
    annotations:
      "reloader.stakater.com/auto": "true"
    containers:
      main:
        image:
          repository: ghcr.io/slskd/slskd
          tag: 0.24.0
        envFrom:
          - configMap: env
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        securityContext:
          allowPrivilegeEscalation: false
          # readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }

persistence:
  tmp:
    type: emptyDir
    globalMounts: [{ path: /tmp }]
  config:
    type: persistentVolumeClaim
    existingClaim: slskd-config
    globalMounts: [{ path: /config }]
  config-file:
    type: configMap
    identifier: config
    globalMounts: [{ path: /config/slskd.yml, subPath: slskd.yml }]
  media:
    type: persistentVolumeClaim
    existingClaim: media-data-v4
    globalMounts: [{ path: /data }]
