---
image:
  repository: ghcr.io/dani-garcia/vaultwarden
  tag: 1.34.3
  pullPolicy: IfNotPresent

database:
  type: sqlite
  wal: true

service:
  type: ClusterIP
  httpPort: 80
  externalTrafficPolicy: Cluster

strategy:
  type: Recreate # NOTE: the Longhorn volume is ReadWriteOnce.

ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: cianfr.one-acme
  host: &host vault.cianfr.one
  tls:
    - hosts: [*host]
      secretName: vaultwarden-cianfr.one-tls

persistence:
  enabled: true
  existingClaim: vaultwarden-v2

vaultwarden:
  domain: https://vault.cianfr.one
  allowSignups: false
  requireEmail: true
  verifySignup: true
  allowInvitation: true
  showPasswordHint: true
  enableWebVault: true
  orgCreationUsers: danilocianfr@gmail.com

  admin:
    enabled: true

  smtp:
    enabled: true
    host: smtp.gmail.com
    from: "nl.homelab.ar3s3ru@gmail.com"
    port: 587
    existingSecret: vaultwarden-secrets
