# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/values.schema.json
defaultPodOptions:
  hostNetwork: true
  securityContext:
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch
    runAsGroup: 1000
    runAsUser: 1000

service:
  main:
    type: ClusterIP
    controller: main
    ports:
      http:
        port: &esphome-port 6052

ingress:
  tailscale:
    className: tailscale
    enabled: true
    hosts:
      - host: &host nl-esphome.tail2ff90.ts.net
        paths:
          - path: "/"
            pathType: Prefix
            service:
              identifier: main
              port: http
    tls:
      - hosts: [*host]

controllers:
  main:
    type: deployment
    replicas: 1
    annotations:
      "reloader.stakater.com/auto": "true"
    containers:
      main:
        env:
          PGID: 1000
          PGUID: 1000
          TZ: Europe/Amsterdam
        image:
          repository: ghcr.io/home-operations/esphome
          tag: 2026.1.0@sha256:8f151bbd451517ebb000c9094646475d3ea10b4559fbb8dc919926208e86c017
        probes:
          liveness: { enabled: false }
          readiness: { enabled: false }
          startup: { enabled: false }
        resources:
          requests:
            cpu: 5m
            memory: 512Mi
          limits:
            memory: 3072Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          # capabilities:
          #   drop:
          #     - ALL

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    existingClaim: esphome-config
    globalMounts: [{ path: /config }]
  tmpfs:
    enabled: true
    type: emptyDir
    globalMounts:
      - { path: /cache, subPath: cache }
      - { path: /tmp, subPath: esphome-tmp }
