---
csiDriver:
  name: "org.democratic-csi.truenas-api-nfs"

controller:
  enabled: true
  strategy: deployment
  driver:
    image:
      tag: next
  externalSnapshotter:
    enabled: false # Snapshots disabled

node:
  hostPID: true
  driver:
    image:
      tag: next

storageClasses:
  - name: truenas-nfs
    defaultClass: false
    reclaimPolicy: Retain
    volumeBindingMode: Immediate
    allowVolumeExpansion: true
    parameters:
      fsType: nfs
    mountOptions:
      - nfsvers=4.1
      - noatime
      - nodiratime
    secrets:
      provisioner-secret:
      controller-publish-secret:
      node-stage-secret:
      node-publish-secret:
      controller-expand-secret:

# Snapshot classes (disabled)
volumeSnapshotClasses: []

driver:
  existingConfigSecret: truenas-nfs-driver-config
  config:
    driver: freenas-api-nfs
