# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.4.0/charts/other/app-template/values.schema.json
---
defaultPodOptions:
  securityContext:
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch
    runAsGroup: 1000
    runAsUser: 1000

service:
  main:
    type: ClusterIP
    controller: main
    ports:
      http:
        port: 9200

ingress:
  main:
    enabled: true
    className: nginx
    annotations:
      cert-manager.io/cluster-issuer: cianfr.one-acme
    hosts:
      - host: &host ocis.cianfr.one
        paths:
          - path: "/"
            pathType: Prefix
            service:
              identifier: main
              port: http
    tls:
      - hosts: [*host]
        secretName: ocis-cianfr.one-tls

configMaps:
  config:
    data:
      TZ: Europe/Amsterdam
      OCIS_URL: https://ocis.cianfr.one
      OCIS_LOG_LEVEL: info
      OCIS_INSECURE: "true"
      PROXY_HTTP_ADDR: "0.0.0.0:9200"
      PROXY_TLS: "false"
      DEMO_USERS: "false"
      # CORS settings - mounted as config map file down in 'persistence'
      PROXY_CSP_CONFIG_FILE_LOCATION: &csp /etc/ocis/csp.yaml
      # OIDC settings
      OCIS_EXCLUDE_RUN_SERVICES: "idp"
      PROXY_OIDC_ISSUER: https://idp.cianfr.one
      PROXY_OIDC_REWRITE_WELLKNOWN: "true"
      PROXY_OIDC_ACCESS_TOKEN_VERIFY_METHOD: none
      PROXY_OIDC_SKIP_USER_INFO: "false"
      PROXY_AUTOPROVISION_ACCOUNTS: "true"
      PROXY_AUTOPROVISION_CLAIM_USERNAME: preferred_username
      PROXY_AUTOPROVISION_CLAIM_EMAIL: email
      PROXY_AUTOPROVISION_CLAIM_DISPLAYNAME: name
      PROXY_AUTOPROVISION_CLAIM_GROUPS: groups

controllers:
  main:
    type: deployment
    replicas: 1
    strategy: Recreate
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      main:
        envFrom:
          - configMap: config
          - secretRef: { name: ocis-secrets }
        image:
          repository: docker.io/owncloud/ocis
          tag: 7.3.0
        command: ["ocis", "server"]

persistence:
  data:
    type: persistentVolumeClaim
    existingClaim: ocis-data
    globalMounts:
      - { path: /data, subPath: data }
      - { path: /var/lib/ocis, subPath: varlib }
  config-proxy:
    type: configMap
    name: ocis-static
    globalMounts:
      - { path: *csp, subPath: csp.yaml, readOnly: true }
  config-ocis:
    type: secret
    name: ocis-secrets
    globalMounts:
      - { path: /etc/ocis/ocis.yaml, subPath: ocis.yaml, readOnly: true }
  tmp:
    type: emptyDir
    medium: Memory
    globalMounts:
      - { path: /tmp, subPath: tmp }
