# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.4.0/charts/other/app-template/values.schema.json
---
defaultPodOptions:
  securityContext: &defaultSecurityContext
    runAsNonRoot: true
    runAsUser: 999
    seccompProfile:
      type: RuntimeDefault

controllers:
  main:
    type: deployment
    replicas: 0
    strategy: Recreate
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      main:
        image:
          repository: docker.io/mochimqtt/server
          tag: 2.7.9
        probes:
          liveness: &probe
            enabled: true
            custom: true
            spec:
              httpGet:
                port: 1880
                path: /healthcheck
          readiness: *probe
        securityContext:
          <<: *defaultSecurityContext
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
          readOnlyRootFilesystem: true

service:
  main:
    controller: main
    type: ClusterIP
    ports:
      mqtt:
        port: 1883
      ws:
        port: 1882
      healthcheck:
        port: 1880

persistence:
  config:
    enabled: true
    type: configMap
    name: mochi-mqtt-config
    globalMounts:
      - path: /config.yaml
        subPath: config.yaml
        readOnly: true
