---
name: Build Tools

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on: # yamllint disable-line rule:truthy
  workflow_dispatch: {}
  push:
    branches:
      - main

jobs:
  changes:
    name: Check changes
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    outputs:
      authelia-proxy: ${{ steps.filter.outputs.authelia-proxy }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
        id: filter
        with:
          filters: |
            authelia-proxy:
              - 'tools/authelia-proxy/**'

  authelia-proxy:
    name: Build authelia-proxy
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.authelia-proxy == 'true' }}
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version: "1.25.x"
      - uses: ko-build/setup-ko@d006021bd0c28d1ce33a07e7943d48b079944c8d # v0.9
      - run: ko build ./tools/authelia-proxy --base-import-paths
