---
name: Deploy

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on: # yamllint disable-line rule:truthy
  workflow_dispatch: {}
  push:
    branches:
      - main

jobs:
  changes:
    name: Check changes
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    outputs:
      terragrunt: ${{ steps.filter.outputs.terragrunt }}
      nix: ${{ steps.filter.outputs.nix }}
      cluster-it: ${{ steps.filter.outputs.cluster-it }}
      cluster-nl: ${{ steps.filter.outputs.cluster-nl }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
        id: filter
        with:
          filters: |
            terragrunt:
              - 'modules/**'
              - '!modules/nix/**'
              - '*.tf'
              - '*.hcl'
            nix:
              - 'flake.*'
              - 'modules/nix/**'
              - 'machines/**'
            cluster-it:
              - 'clusters/it/**'
            cluster-nl:
              - 'clusters/nl/**'

  colmena-apply:
    name: Colmena Apply
    runs-on: ubuntu-latest
    needs: changes
    if: false # TODO(ar3s3ru): re-enable -> ${{ needs.changes.outputs.nix == 'true' }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Set up Nix system
        uses: ./.github/actions/nix-setup
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Log in to Tailscale
        uses: tailscale/github-action@a392da0a182bba0e9613b6243ebd69529b1878aa # v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_CLIENT_SECRET }}
          tags: "tag:ci"
      - name: Import sops age keys
        uses: ./.github/actions/import-sops-age-keys
        with:
          age_keys: ${{ secrets.SOPS_AGE_KEYS }}
      - name: Run colmena apply
        run: colmena apply --on @type:server --impure
        shell: nix develop --quiet -c bash -e {0}

  terragrunt-apply:
    name: Terragrunt Apply (cluster-${{ matrix.cluster }})
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.terragrunt == 'true' || needs.changes.outputs.cluster-it == 'true' || needs.changes.outputs.cluster-nl == 'true' }}
    strategy:
      fail-fast: false # Jobs can independently fail.
      matrix:
        include:
          # NOTE(ar3s3ru): for now 'it' cluster is unused properly.
          # - cluster: it
          #   condition: ${{ needs.changes.outputs.cluster-it == 'true' || needs.changes.outputs.terragrunt == 'true' }}
          - cluster: nl
            condition: ${{ needs.changes.outputs.cluster-nl == 'true' || needs.changes.outputs.terragrunt == 'true' }}
    steps:
      - name: Skip if no changes
        if: ${{ matrix.condition == 'false' }}
        run: echo "Skipping ${{ matrix.cluster }} - no relevant changes detected"
      - name: Checkout source code
        if: ${{ matrix.condition == 'true' }}
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Set up Nix system
        if: ${{ matrix.condition == 'true' }}
        uses: ./.github/actions/nix-setup
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Log in to Tailscale
        if: ${{ matrix.condition == 'true' }}
        uses: tailscale/github-action@a392da0a182bba0e9613b6243ebd69529b1878aa # v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_CLIENT_SECRET }}
          tags: "tag:ci"
      - name: Import sops age keys
        if: ${{ matrix.condition == 'true' }}
        uses: ./.github/actions/import-sops-age-keys
        with:
          age_keys: ${{ secrets.SOPS_AGE_KEYS }}
      - name: Run terragrunt apply
        if: ${{ matrix.condition == 'true' }}
        run: |
          cd clusters/${{ matrix.cluster }}
          terragrunt --non-interactive apply --all
        shell: nix develop --quiet -c bash -e {0}
