---
name: Deploy

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on: # yamllint disable-line rule:truthy
  workflow_dispatch: {}
  push:
    branches:
      - main

jobs:
  argocd-sync:
    name: ArgoCD Sync
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    steps:
      - name: Checkout source code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Log in to Tailscale
        uses: tailscale/github-action@53acf823325fe9ca47f4cdaa951f90b4b0de5bb9 # v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_CLIENT_SECRET }}
          tags: "tag:ci"
      - name: Send ArgoCD webhook to trigger sync
        env:
          GITHUB_WEBHOOK_PAYLOAD: ${{ toJSON(github.event) }}
        run: |
          curl -v -X POST \
            -H "Content-Type: application/json" \
            -H "X-GitHub-Event: push" \
            -d "$GITHUB_WEBHOOK_PAYLOAD" \
            https://nl-argocd.tail2ff90.ts.net/api/webhook

  changes:
    name: Check changes
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    outputs:
      terragrunt: ${{ steps.filter.outputs.terragrunt }}
      nix: ${{ steps.filter.outputs.nix }}
      cluster-it: ${{ steps.filter.outputs.cluster-it }}
      cluster-nl: ${{ steps.filter.outputs.cluster-nl }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
        id: filter
        with:
          filters: |
            nix:
              - 'flake.*'
              - 'modules/nix/**'
              - 'machines/**'

  colmena-apply:
    name: Colmena Apply
    runs-on: ubuntu-latest
    needs: changes
    if: false # TODO(ar3s3ru): re-enable -> ${{ needs.changes.outputs.nix == 'true' }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Set up Nix system
        uses: ./.github/actions/nix-setup
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Log in to Tailscale
        uses: tailscale/github-action@53acf823325fe9ca47f4cdaa951f90b4b0de5bb9 # v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_CLIENT_SECRET }}
          tags: "tag:ci"
      - name: Import sops age keys
        uses: ./.github/actions/import-sops-age-keys
        with:
          age_keys: ${{ secrets.SOPS_AGE_KEYS }}
      - name: Run colmena apply
        run: colmena apply --on @type:server --impure
        shell: nix develop --quiet -c bash -e {0}
