---
name: Test

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on: # yamllint disable-line rule:truthy
  workflow_dispatch: {}
  pull_request:
    branches:
      - main

jobs:
  changes:
    name: Check changes
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    outputs:
      terragrunt: ${{ steps.filter.outputs.terragrunt }}
      nix: ${{ steps.filter.outputs.nix }}
      cluster-it: ${{ steps.filter.outputs.cluster-it }}
      cluster-nl: ${{ steps.filter.outputs.cluster-nl }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
        id: filter
        with:
          filters: |
            nix:
              - 'flake.*'
              - 'modules/nix/**'
              - 'machines/**'
